.emptySelectionDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  text-align: center;

}

.astronautUfoImage {
  width: 100%;
  padding: 16px;
  margin: 8px;
  font-size: 12px;
}

.cardActions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.margin16 {
  margin: 16px;
}
