
.margin-16 {
  margin: 16px;
}

.font-size-12 {
  font-size: 12px;
}

.notes-root-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.selected-highlight-heading {
  margin: 8px;
  text-align: center;
  font-size: 24px;
}


.date-typography {
  margin: 8px;
  font-size: 12px;
}

.selected-image {
  width: 100%;
  max-height: 200px;
  object-fit: scale-down;
}

.selected-text-typography {
  margin: 16px;
  font-size: 12px;
}

.selected-link-typography {
  margin: 16px;
  font-size: 12px;
}

.categories-card {
  display: flex;
  align-items: center;
  justify-content: center;
}


.card-content {
  padding: 4px !important;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: white;
  padding: "0px";
}

.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.badges-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.badge {
  margin: 4px 8px;
}

.buttons-container {
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 4px;
}

.button-text {
  padding: 8px;
}

.categories-menu {
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

