/* SnippetStyles.css */

.snippet-container {
  margin-right: 24px;
  width: 100%;
  align-items: center;
}

.item-controls {
  opacity: 0;
  margin: 8px;
}

.item-controls:hover {
  opacity: 1;
}

.item-controls-icon {
  cursor: pointer;
}

.item-title-date-source {
  width: 100%;
}

.image-container {
  max-height: 250px;
  max-width: 80%;
}

.text-content {
  width: 90%;
  padding: 8px;
  margin: 8px;
  display: flex;
}

.link-content{
  background-color: transparent;
}

.link-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-anchor {
  width: 100%;
}

.link-stack {
  width: 100%;
}

.link-title {
  line-clamp: 1;
}

.link-date {
  color: dimmed;
}

.link-url {
  size: sm;
  color: dimmed;
}

.text-container {
  justify-content: center;
  display: flex;
  align-items: center;
}

.image-div{
  width: 100%;
  display: flex;
  justify-content: center;
}
